SUPABASE_URL=https://lnesorztqjytavilojru.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxuZXNvcnp0cWp5dGF2aWxvanJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDUwNTc4NSwiZXhwIjoyMDk2MDgxNzg1fQ.7oX_KrfW2Y45rueCzRoBhF5xb7SDt5q8OawasWRAllg
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxuZXNvcnp0cWp5dGF2aWxvanJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MDU3ODUsImV4cCI6MjA5NjA4MTc4NX0.djKPXnemwXzW25VDg-90ugeZAs4s_lNGRO3pxoR_qbQ
PORT=3001
NODE_ENV=production
CORS_ORIGIN=https://newptsystem-619-frontend.vercel.app
